<%- include('partials/header') -%>

    <section class="home-container" id="homepage">
        <div class="title-container">
            <div class="title">Open</div>
            <div style="margin-left: 86px;" class="title">Library</div>
        </div>
    </section>
    <section class="list-container" id="book-list">
        <div class="bookmark-container">
            <div class="title">BOOK LIST</div>
        </div>
        <% if(books.length>0){ %>
            <div
                class="container <% if(books.length>2){%>  cards-container <% }else{ %> no-space-card-container <% } %> ">
                <div class="filters">
                    <div><img src="images/elements/settings.svg" alt=""></div>
                    <div><a href="#add-form"><img src="images/elements/add.svg" alt=""></a></div>
                </div>
                <div class="<% if(books.length<=2){%> list <% } %> ">
                    <div class="<% if(books.length>2){%> grid-container <% }else{ %> grid-2-container <% } %>">
                        <% books.forEach(book=>{ %>
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="..." class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= book.title %>
                                            </h5>
                                            <p class="card-text">
                                                <%= book.author %>
                                            </p>
                                            <div class="rating-circle-full"></div>
                                            <p class="card-text"><%= book.review %></p>
                                            <form action="/delete" method="post">
                                                <button value="<%= book.id %>"  name="bookId" style="font-size: 13px;font-weight:700px;color:red;" class="btn delete" type="submit">DELETE</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>


                    </div>
                    <nav aria-label="Page navigation example" class="pagination-container">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <% }else{ %>
                <div class="no-books">No books available yet, add one trough the form below!</div>
                <% } %>
    </section>
    <section class="add-container" style="height: 649px;" id="add-form">
        <div class="bookmark-container">
            <div class="title">ADD BOOK</div>
        </div>
        <div class="form-container">
            <form action="/" method="post" class="add-form">
                <div>
                    <input class="not-text-area" type="text" name="title" id="" placeholder="Title*">
                    <input class="not-text-area" type="text" name="author" id="" placeholder="Author*">
                    <label for="rating" class="rating-label">Points*</label>
                    <select name="points" id="rating">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <label for="book-cover" class="label-img">+</label>
                    <input class="img-input" type="file" src="" alt="" name="bookCover" id="book-cover">
                    <p class="info">*Attach book cover image or it will be added automatically</p>
                </div>
                <div>
                    <textarea name="review" id="" cols="30" rows="10"
                        placeholder="Review (max 30 characters)*"></textarea>
                    <div class="form-btn">
                        <button type="reset" class="btn btn-danger"">RESET</button>
                        <button type=" submit" class="btn" style="background-color: #034C8C;">ADD</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <div class="footer">
        <p>&copy; Lara Misia Forlani</p>
    </div>

    <%- include('partials/footer') -%>